<!DOCTYPE html>
<html lang="es">

<head>
    <title>Recuperar contraseña</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;
        charset=iso-8859-1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>

<body style="margin: 0px; padding: 0px; width: 100%; height: 100%; background-color: white; font-family: 'Roboto', sans-serif;">
  <div style="width: 600px; height: 100%; margin: 0 auto;">
      <div style="width: 100%; height: 100px; background-color: #3E4A5D; border-top: 10px solid #4c8df3">
        <h1  style="margin: 0px 0px 0px 10px; padding-top: 40px; font-size: 1.5em; color:white; font-weight:lighter">NUEVA CONTRASEÑA </h1>
        <h1  style="margin: 0px 0px 0px 10px; font-size: 1.0em; color:white; font-weight:lighter">Facultad de Ciencias Económicas | UNLP </h1>
      </div>
      <div style="width:100%; padding-top:20px;">

        <div style=" border-bottom:1px solid #E5E4E4;">
          <div style="font-size:1.3em; margin-left:10px;">¡Hola! <b>{{ usuario.nombre }} {{usuario.apellido}} </b></div>
          <div style="font-size:1.0em; margin:10px 0 10px 10px;"> Se ha generado una nueva contraseña de acceso temporal para los sitemas de la facultad. </div>
        </div>

        <br>

        <div style="font-size: 1.3em; margin: 0 auto; width:100%;  text-align: center; margin-top:20px;">
          <b>Nueva Contraseña</b>
        </div>
        <div style="font-size: 3em; background-color:white; color:#4c8df3; width:40%; padding: 5px; margin: 0 auto; text-align: center; margin-bottom:20px;">
          <b>{{ clave }}</b>
        </div>

        <br>

        <div style=" border-bottom:1px solid #E5E4E4;">
          <div style="font-size:14px; margin:10px 0 10px 10px;"> Por favor, NO responda a este mensaje, es un envío automático.<br>
            NO respondas correos que soliciten tu contraseña de acceso. <br>
          Recuerde que tus datos son personales y ningún área de la Facultad, ni de la Universidad podrá requerir estos datos.<br>
            </div>
        </div>

        <br>

        <div style="margin-bottom: 20px; text-align:center">
          <img src="https://login.econo.unlp.edu.ar/assets/img/logo_fce.png" width="250">
        </div>

      </div>
      <div style="width: 100%; background-color: #3E4A5D; font-size: 10px; color: white; text-decoration:none; padding: 1px; ">
        <p style="margin:5px 5px 5px 15px;">
         DiTeSI | Dirección de Tecnologías y Sistemas Informáticos <br>Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777 - 1er Subsuelo | La Plata | Bs. As. <br> Tel: +54 (221) 423-6769/71/72 int. 123 | ditesi@econo.unlp.edu.ar
        </p>
      </div>
  </div>
</body>

</html>
